body {
  font-family: open sans, sans-serif;
  color: #646464;
}
h1,
h2,
h3 {
  font: 30px/1.2em "Alegreya SC", serif;
  font-weight: 700;
  color: #323029;
  padding: 0 0 10px;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 3px;
  margin-bottom: 50px;
  text-align: center;
}
h1:after,
h2:after,
h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 82px;
  height: 1px;
  left: 50%;
  background: #c7c7c7;
  margin-left: -41px;
}
h5 {
  font: 14px/1.2em "Alegreya SC", serif;
  font-weight: 700;
  color: #323029;
  padding: 0 0 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.top-header {
  background-image: url(../images/bg_top.webp);
  background-size: cover;
  padding: 50px 0 150px 0;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #fff;
  border-bottom: 3px solid #d4c574;
}
.nav-item {
  margin: 0 10px;
}
.nav-link {
  color: #fff;
  position: relative;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #fff;
  border-bottom: 3px solid #d4c574;
}
.nav-link::before {
  content: "/";
  position: absolute;
  left: -20px;
}
.nav-link::before:hover {
  color: #fff;
}
.nav-link.active.nav-item-fist::before {
  content: "";
}
.dropdown-item-list {
  position: relative;
}
.dropdown-item-list:hover > .dropdown-item-child {
  display: block;
}
.dropdown-item-child {
  border-radius: 0 5px 5px 0;
  text-align: center;
  position: absolute;
  right: -100%;
  background: #fff;
  top: 0;
  width: 100%;
  padding: 5px;
  display: none;
  cursor: pointer;
}
.dropdown-item-child:hover {
  background: var(--bs-dropdown-link-hover-bg);
}
.content {
  margin-top: 100px;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.title {
  font-size: 40px;
  text-transform: none;
  color: #fff;
  padding: 30px 0 6px;
  text-transform: uppercase;
}
.slogan {
  font-size: 19px;
  text-transform: none;
  color: #fff;
  text-align: center;
  padding: 0 0 38px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}
.card-items {
  padding: 60px 0;
}
.card-item {
  text-align: center;
  border: 1px solid #d9d9d9;
  padding: 60px;
}
.logo-item {
  border-radius: 100px;
  border: 1px solid #d4c574;
}
.title-item {
  font: 24px/1.2em "Alegreya SC", serif;
  font-weight: 700;
  color: #323029;
  padding: 15px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-rendering: optimizelegibility;
}
.text-item {
  font-family: open sans, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #646464;
  padding-bottom: 24px;
}
.btn-item {
  padding: 4px 24px 6px;
  font-size: 18px;
  font-family: alegreya sc, serif;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #958a4f;
  color: #f5f5f5;
  text-shadow: none;
  border: none;
  text-decoration: none;
}
.btn-item.btn-item:hover {
  background: #323029;
  color: #f5f5f5;
}
.feature-row,
.mainbottom-row {
  background: #f5f5f5;
  text-align: center;
  padding: 56px 0;
  position: relative;
}
.feature-row-title,
.mainbottom-row-title {
  position: relative;
  padding: 0 200px;
}
.feature-image {
  width: 100%;
  filter: grayscale(0%);
  transition: all 0.3s;
  cursor: pointer;
}
.feature-image:hover {
  filter: grayscale(100%);
}
.btn-feature {
  padding-top: 30px;
}
.maintop-row {
  background-image: url(../images/bg1.webp);
  background-size: cover;
  padding: 10px 0 100px 0;
  margin-bottom: 56px;
}
.content-items {
  margin-bottom: 20px;
}
.numberlg {
  font-size: 55px;
  line-height: 1em;
  color: #827946;
  text-align: right;
}
.numbersm {
  font-size: 30px;
  line-height: 1em;
  color: #a59a5e;
  padding-top: 7px;
  text-align: right;
}
.mainbottom-input {
  border: 1px solid #dcdcdc;
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font: 13px/18px "Open Sans", sans-serif;
  color: #969696;
  text-transform: uppercase;
  height: 48px;
  max-width: 600px;
  width: 100%;
  padding: 14px;
  margin-bottom: 34px;
  text-align: center;
}
.footer-wrapper {
  font: 14px/24px "Alegreya SC", serif;
  color: #bdb9a3;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding-top: 11px;
  padding-bottom: 8px;
  background-color: #706736;
}
.row > * {
  padding-right: calc(var(--bs-gutter-x) * 0.7);
  padding-left: calc(var(--bs-gutter-x) * 0.7);
  padding-bottom: calc(var(--bs-gutter-x) * 0.7);
  padding-top: calc(var(--bs-gutter-x) * 0.7);
}
@media (max-width: 992px) {
  .feature-row-title,
  .mainbottom-row-title {
    position: relative;
    padding: 0px;
  }
}
